---
import Character from "./Character.astro";
const colors = [
	"bg-primary",
	"bg-secondary",
	"bg-info",
	"bg-success",
	"bg-warning",
];
const cards = Array.from({ length: 50 }, (_, i) => ({
	title: "Luffy",
	description: "example",
	color: colors[Math.floor(Math.random() * colors.length)],
	height: Math.floor(Math.random() * 200) + 200,
}));
---
<section>
    <div class="columns-1 sm:columns-2 lg:columns-4 gap-3">
        {cards.map(({title, height, description, color}) => (
            <Character
                title={title}
                height={height}
                description={description}
                color={color}
            />
        ))}
    </div>
</section>