---

---

<div id="container" class="w-full h-full grid grid-rows-[auto_1fr_auto] gap-2 [grid-template-areas:'header''main''footer']">
  <header class="header [grid-area:header]">Header</header>
  <main class="main [grid-area:main]">Main</main>
  <footer class="footer [grid-area:footer]">Footer</footer>
</div>