---
import "../styles/global.css"
import "../assets/app.css";
---
<!doctype html>
<html lang="en" data-theme="mytheme">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>The Grant Line</title>
	</head>
	<body class="bg-base-100 font-spartan">
		<slot />
	</body>
</html>